{% extends "base.html" %}

{% block content %}
{% if 'инженер' in prof or 'строитель' in prof %}
        <div>
            <h1 align="center" style="color:Black">Инженерные тренажёры</h1>
            <img src="/static/img/korabl_1.jpg" alt="здесь должна была быть картинка, но не нашлась">
        </div>
{% else %}
        <div>
            <h1 align="center" style="color:Black"> Научные симуляторы</h1>
            <img src="/static/img/korabl_2.jpg" alt="здесь должна была быть картинка, но не нашлась">
        </div>
{% endif %}

{% endblock %}